*.pdf
groundstates/
fourier-bases/
experiments/
*.pyc
.idea/
.ipynb_checkpoints/
test-experiment/
settings.json
scratch.py
temp.py
test.py
Untitled*.ipynb
_*
square-lattice.jsonl
sshadd
state_info_troubleshooting.ipynb
untitled.txt
.nfs*
fourier_learners_cache/
checkpoint.pt
fourier_learners_cache_wrongsign/*