fig/expansions/*
groundstates/
fourier-bases/
experiments/
*.pyc
.idea/
.ipynb_checkpoints/
test-experiment/
settings.json
scratch.py
temp.py
test.py
Untitled*.ipynb
_*
square-lattice.jsonl
sshadd
state_info_troubleshooting.ipynb
untitled.txt
.nfs*
fourier_learners_cache/
checkpoint.pt
fourier_learners_cache_wrongsign/*
*.log
*.swp
*.out
*.feather
**/*.def
graph (2).ipynb
graph (2).py
graph.py
*.dat
signs_cache/*
*.csv
*.tsv
*.pickle*
*.pdf
*.txt
result
*.json
flake.lock
._envrc
dtd/**
dtd*.gz
fig/*
MNIST/**
stderr
code
libcuda.so
libcuda.so.1
result
singularity-image-frustrations-eda.img
nn_supervised_reproduction_dilations_triangular6x6.png
*.a
*.so.*
*.so
libnvrtc*